<header>
    <a href="/">

    </a>
    <div class="HeaderController__search--3GdI-">
        <div class="sg-flex sg-flex--full-width Search__searchWrapper--3edXj">
            <form method="GET" action="/app/ask?source=topbar" class="Search__searchForm--1s0O9">
                <div class="sg-search sg-search--m sg-search--full-width"><input aria-label="Поиск"
                                                                                 placeholder="Найди ответ на любой вопрос..."
                                                                                 name="q"
                                                                                 data-test="navigation_search"
                                                                                 maxlength="2048" type="search"
                                                                                 class="sg-input sg-input--with-icon sg-search__input"
                                                                                 value="">
                    <button class="sg-search__icon">
                        <div class="sg-icon sg-icon--gray-secondary sg-icon--x16">
                            <svg class="sg-icon__svg">
                                <use xlink:href="#icon-search"></use>
                            </svg>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="sg-flex sg-flex--align-items-center HeaderController__childrenWrapper--1156k">
        <div class="sg-flex sg-flex--align-items-center sg-space-x-xxs md:sg-space-x-s">
            <div>
                <div class="sg-flex sg-space-x-xxs md:sg-space-x-s">
                    <div class="sg-flex">
                        <div style="position: relative;">
                            <div class="sg-overlayed-box sg-overlayed-box--adjusted">
                                <button aria-label="" data-test="navigation-nested-panel-button"
                                        class="sg-button sg-button--transparent sg-button--icon-only"><span
                                        class="sg-button__icon"><div class="sg-icon sg-icon--adaptive sg-icon--x24"><svg
                                        class="sg-icon__svg"><use
                                        xlink:href="#icon-notifications"></use></svg></div></span><span
                                        class="sg-button__text"></span></button>
                                <div class="sg-overlayed-box__overlay">
                                    <div class="sg-counter sg-counter--xxs">
                                        <div class="sg-text sg-text--xsmall sg-text--white sg-text--bold sg-counter__text">
                                            1
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sg-flex">
                        <div style="position: relative;">
                            <button aria-label="profile" data-test="navigation-profile-panel-button"
                                    class="sg-button sg-button--transparent sg-button--icon-only"><span
                                    class="sg-button__icon"><div class="sg-avatar sg-avatar--xs"><div
                                    class="sg-avatar__image sg-avatar__image--icon"><div
                                    class="sg-icon sg-icon--gray-light sg-icon--x24 sg-avatar__icon"><svg
                                    class="sg-icon__svg"><use
                                    xlink:href="#icon-profile"></use></svg></div></div></div></span><span
                                    class="sg-button__text"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>